################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/game/world-map/.vs/world-map.slnx/FileContentIndex/7fe6fd54-dd1d-4bac-ac10-472a0f439a28.vsidx
/game/world-map/.vs/slnx.sqlite
